body
{
	background-color:black;
	position:fixed;
	padding:0px;
	margin:0px;
}

#button1
{
	position:fixed;
	top:0px;
	left:0px;
	margin:0px;
	padding:5px;
	cursor:pointer;
}

#author
{
	position:fixed;
	bottom:0px;
	right:0px;
	padding:10px;
	background-color:rgba(255,255,255,0.5);
}

.page_font
{
	font-family:"Lucida Console", Monaco, monospace;
}

#data_selector
{
	position:fixed;
	bottom:0px;
	right:0px;
	padding:0px;
	width:300px;
	height:500px;
	left:0px;
	top:60px;
	background-color:rgba(255,255,255,0.5);
	overflow-y:scroll;
	overflow-x:hidden;
}

.data_elem1
{
	width:100%;
	text-align:center;
}